/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-poppins{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
}
.btn{
    padding: 12px 28px;
    color: #fff;
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: 0.5s;
}
.btn:hover{
    background-color:  rgb(218, 17, 91);
}

/* Header CSS */
.nav-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
}
.nav-logo h1{
    color: #3A3A3A;
    font-size: 1.7rempx;
    font-weight: bold;
    cursor: pointer;
}
.nav-menu ul {
    display: flex;
    gap: 30px;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    transition: 0.6s;
}

.nav-menu ul li a:hover{
    color: #E02C6D;
}

.banner-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-text{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner-text h1{
    font-size: 2.3rem;
    color: #3A3A3A;
    font-weight: 700;
}
.banner-text p{
    font-size: 1rem;
    color: #3A3A3A;
    font-weight: 400;
    line-height: 25px;
    padding: 20px 0px;
}
.banner-img img{
    width: 100%;
    padding-left: 20px;
}

/* Sponsor section CSS */

.sponsor-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 70px;
    border-top: 0.1px solid #dfdbdb;
    border-bottom: 0.1px solid #dfdbdb;
    padding: 30px 0px;
}

.product-container{
    max-width: 900px;
    margin: 0 auto;
}
.product-header{
    display: flex;
    justify-content: center;
}
.product-header h1{
    color: #3A3A3A;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 25px;
}
.card-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.product-container .card{
    width: 280px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.09);
}
.card-img img{
    width: 100%;
}
.card-text h2{
    font-size: 21px;
    font-weight: 500;
    color: #18191F;
}  
.card-text h4{
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 0px;
}.card-text p{
    font-size: 13px;
    color: #787885;
}
.see-more{
    display: flex;
    justify-content: end;
}
.see-more p{
    padding-top: 35px;
    color: #E02C6D;
    cursor: pointer;
    
}
/* Community Section CSS */
.community-container{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 70px;
}
.community-img{
    width: 100%;
}
.community-text{
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.community-text h2{
    font-size: 30px;
    font-weight: bold;
    color: #0A0826;
}
.community-text p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 20px 0;
}

/* Footer Section CSS */
.footer-container{
    max-width: 100%;
    background-color: #0A0826;
    text-align: center;
}
.footer-text{
    padding-top: 50px;
}
.footer-text h2{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.footer-text p{
    color: #D9DBE1;
    font-size: 13px;
    padding-top: 10px;

}
.footer-icon{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 70px;
    gap: 15px;
    
}
.icon-box{
    width: 40px;
    height: 40px;
    background-color: #1e1a51;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Media Query For Responsive */

@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-menu ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
    }
    .nav-logo h1{
        font-size: 25px;
    }
    .banner-container{
        flex-direction: column;
    }
    .banner-text{
        justify-content: center;
        align-items: center;
    }
    .banner-text h1,p,.btn{
        text-align: center;
    }
    .sponsor-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5px;   
    }

    .card-items{
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
    }
    .community-container{
        flex-direction: column;
    }
    .community-text{
        align-items: center;
        justify-content: flex-start;
    }

    .footer-container{
        width: 100%;
    }
    .see-more{
        justify-content: center;
    }
    .community-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
}