/* Common CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-poppins{
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
}
.btn{
    padding: 12px 28px;
    color: #fff;
    background-color: #E02C6D;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}
.btn:hover{
    background-color:  rgb(218, 17, 91);
}

/* Header CSS */
.nav-container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
}
.nav-logo h1{
    color: #3A3A3A;
    font-size: 1.7rempx;
    font-weight: bold;
    cursor: pointer;
}
.nav-menu ul {
    display: flex;
    gap: 30px;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    transition: 0.6s;
}

.nav-menu ul li a:hover{
    color: #E02C6D;
}

.banner-container{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-text{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.banner-text h1{
    font-size: 2.3rem;
    color: #3A3A3A;
    font-weight: 700;
}
.banner-text p{
    font-size: 1rem;
    color: #3A3A3A;
    font-weight: 400;
    line-height: 25px;
    padding: 20px 0px;
}
.banner-img img{
    width: 100%;
    padding-left: 20px;
}

/* Sponsor section CSS */

.sponsor-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 70px;
    border-top: 0.1px solid #dfdbdb;
    border-bottom: 0.1px solid #dfdbdb;
    padding: 30px 0px;
}
.product-header{
    display: flex;
    justify-content: center;
}
.product-header h1{
    color: #3A3A3A;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 25px;
}
.product-container{
    max-width: 900px;
    margin: 0 auto;
}
.card-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
}
.product-container .card{
    width: 280px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.09);
}
.card-img img{
    width: 100%;
}
.card-text h2{
    font-size: 21px;
    font-weight: 500;
    color: #18191F;
}  
.card-text h4{
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 0px;
}.card-text p{
    font-size: 13px;
    color: #787885;
}
.see-more{
    display: flex;
    justify-content: end;
}
.see-more p{
    padding-top: 35px;
    color: #E02C6D;
    cursor: pointer;
    
}